*.a
*.exe
*.o
*.orig
*.patch
*.rej
*~
.Tpo
.deps/
.dirstamp
.gdb-history
/*.diff
/ABOUT-NLS
/GNUmakefile
/INSTALL
/README-release
/aclocal.m4
/autom4te.cache/
/build-aux/
/confdefs*
/config.cache
/config.log
/config.status
/configure
/conftest*
/diffutils-*.tar.xz
/gnulib-tests/
/m4/
/maint.mk
ChangeLog
ID
Makefile
Makefile.in
TAGS
doc/.gitignore
doc/diffutils.aux
doc/diffutils.cp
doc/diffutils.cps
doc/diffutils.info
doc/diffutils.log
doc/diffutils.toc
doc/stamp-vti
doc/version.texi
lib/*/
lib/.gitignore
lib/alloca.h
lib/arg-nonnull.h
lib/c++defs.h
lib/charset.alias
lib/config.h
lib/config.hin
lib/configmake.h
lib/ctype.h
lib/dirent.h
lib/error.h
lib/errno.h
lib/fcntl.h
lib/fnmatch.h
lib/getopt-cdefs.h
lib/getopt.h
lib/iconv*.h
lib/inttypes.h
lib/langinfo.h
lib/limits.h
lib/locale.h
lib/ref-add.sed
lib/ref-del.sed
lib/signal.h
lib/sigsegv.h
lib/stamp-h1
lib/stdarg.h
lib/stdckdint.h
lib/stddef.h
lib/stdint.h
lib/stdio.h
lib/stdlib.h
# For some reason 'bootstrap' doesn't add /stdopen.[ch] to lib/.gitignore.
lib/stdopen.[ch]
lib/string.h
lib/strings.h
lib/time.h
lib/unicase.h
lib/unictype.h
lib/uninorm.h
lib/unistd.h
lib/unistr/
lib/unistr.h
lib/unitypes.h
lib/uniwidth/
lib/uniwidth.h
lib/warn-on-use.h
lib/wchar.h
lib/wctype.h
lib/uchar.h
man/*.1
po/*.gmo
po/*.po
po/*.pot
po/*.sed
po/.gitignore
po/.reference
po/LINGUAS
po/Makefile.in.in
po/Makevars
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-po
src/cmp
src/diff
src/diff3
src/paths.h
src/sdiff
src/version.[ch]
tests/*.log
tests/*.trs
vc-dwim-log-*
